<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <style>
        h4{color:red}
    </style>
</head>
<body>
    <h4>Авторизуйтесь, что бы пользоваться сайтом</h4>
    <form action="" method="post">
        <div class="container">
          <label for="username"><b>Username</b></label>
          <input type="text" placeholder="Enter Username" name="username" required>
      
          <label for="password"><b>Password</b></label>
          <input type="password" placeholder="Enter Password" name="password" required>
      
          <button type="submit">Login</button>
        </div>
      
      </form>

</body>
</html>
